<div ng-if="toggleTable">
	<DIV class="container">
		<h1 class="text text-center">COMPANIES LIST</h1>
		<hr  class="styleHR" >

        <div ng-show="isLoading" class="text-center loading"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
        <div class="alert alert-danger" ng-show="errorMessage">{{ errorMessage }}</div>

		<!--ADD NEW COMPANY-->
		<ng-include src="'template/tableAddNew.tmpl.html'"></ng-include>
		
		<hr  class="styleHR" >
		<!--LIST-->
		<ng-include src="'template/tableList.tmpl.html'"></ng-include>
		
		<hr  class="styleHR" >
	</DIV>
</div>