<table class="table"> 
	<thead>
		<tr>
			<th>Name</th>
			<th>Own Money</th>
			<th>Money with child companies</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="company in companiesAllInfo">
			<td>{{company.Name}}</td>
			<td>{{company.OwnMoney | currency }}</td>
			<td>{{company.ChildMoney | currency }}</td>
			<td class="editCompany">
				<button class="btn btn-info" ng-click="editCompany(company._id)">
					<i class="fa fa-pencil-square-o"></i>
				</button>
			</td>
			<td class="deleteCompany">
				<button class="btn btn-danger" ng-really-message="Are you sure to delete company {{company.Name}} ?" ng-really-click="deleteCompany(company._id, company.ParentId)">
					<i class="fa fa-trash"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>