<div class="container" ng-if="toggleTree">
	
	<div class="row">
        <h1 class="text text-center">COMPANIES TREE</h1>
    <hr  class="styleHR" >

        <div ng-show="isLoading" class="text-center loading"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
        <div class="alert alert-danger" ng-show="errorMessage">{{ errorMessage }}</div>

		<!--Build company tree-->
		<ng-include src="'template/treeBuild.tmpl.html'"></ng-include>

    <div class="row">
	    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
	    	<button class="btn btn-block btn-root" ng-click="addChildCompany(company.ParentId)">Add Root Company</button>
	    </div>
    </div>
    <hr  class="styleHR" >

</div>
</div>