<div class="container" ng-if="toggleTree">
	
	<div class="row">
        <h1 class="text text-center">COMPANIES TREE</h1>
    <hr  class="styleHR" >

        <div ng-show="isLoading" class="text-center loading"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
        <div class="alert alert-danger" ng-show="errorMessage">{{ errorMessage }}</div>

    <div class="treecolor">

        <script type="text/ng-template" id="categoryTree">

	            <div class="row red" id = {{node._id}}>                
				    <div class="col-md-10 col-lg-10" ng-hide="editedItems[node._id]">
				      	<h3>{{  node.Name  }}</h3>
	                  	<h4>Company Money - {{  node.OwnMoney  }} $</h4>
	                	<h4>Child company money - {{  node.ChildMoney  }} $</h4>
		                <a  href="#" ng-click="openEditMode(node)"><i class="fa fa-pencil-square-o editCompany"></i></a>
				    </div>

				    <!-- EDIT COMPANY -->
			        <div  class="col-md-10 col-lg-10" ng-show="editedItems[node._id]">
				      	<h3>Company Name: </h3><input class="input" ng-model="changedCompany.Name">
				      	<h4>Company Money: </h4><input type="number" step="0.01" ng-model="changedCompany.OwnMoney" ng-value="changedCompany.OwnMoney">
				      	<a href="#" ng-click="submitChange(node)"><i class="fa fa-check-square-o "></i></a>
				    </div>

				    <div class="col-md-2 col-lg-2 right" >
		                <a href="#" ng-click="addChildCompany(node._id)"><i class="fa fa-plus-square-o"></i></a>
		                <a href="#" ng-really-message="Are you sure to delete company {{node.Name}} ?" ng-really-click="deleteCompany(node._id, node.ParentId)"><i class="fa fa-times remove"></i></a>
	                </div>	                
	            </div>
	            <hr/>
	            
        </div>
            <ul ng-if="node.children">
                <li ng-repeat="node in node.children" ng-include="'categoryTree'"></li>
            </ul>
        </script>
        <ul class="tree">
            <li ng-repeat="node in roots" ng-include="'categoryTree'"></li>
        </ul>
    </div>
    <hr  class="styleHR" >
</div>
</div>